* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

ul {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: currentColor;
}

.section {
  padding: 30px 40px;
  margin: auto;
}

.container {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #ffffff;
  width: 100%;
}

.header__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__link {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1px;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}
.logo__link:hover, .logo__link:focus {
  color: #fce38a;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

.menu__link {
  text-transform: uppercase;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}
.menu__link:hover, .menu__link:focus {
  color: #fce38a;
  position: relative;
}
.menu__link:hover::after, .menu__link:focus::after {
  position: absolute;
  left: 0;
  top: 26px;
  content: "";
  width: 100%;
  height: 3px;
  background-color: currentColor;
  -webkit-animation: underline-color-change 250ms;
          animation: underline-color-change 250ms;
}

.menu__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.menu__option-link {
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}
.menu__option-link:hover, .menu__option-link:focus {
  color: #fce38a;
  position: relative;
}

.menu__icon-holder {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

@-webkit-keyframes underline-color-change {
  from {
    background-color: transparent;
  }
  to {
    background-color: currentColor;
  }
}

@keyframes underline-color-change {
  from {
    background-color: transparent;
  }
  to {
    background-color: currentColor;
  }
}
.banner {
  width: 100%;
  height: 1000px;
  width: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.8235294118)), to(rgba(252, 227, 138, 0.8235294118))), url(../images/banner-background.jpg);
  background-image: linear-gradient(to bottom, rgba(243, 129, 129, 0.8235294118), rgba(252, 227, 138, 0.8235294118)), url(../images/banner-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 235px 0px;
  color: #ffffff;
}

.banner__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 800px;
  margin: auto;
}

.banner__decorative-title {
  font-family: "Kaushan Script", cursive;
  text-transform: capitalize;
  font-size: 72px;
  text-align: center;
}

.banner__title {
  font-size: 150px;
  text-transform: uppercase;
  letter-spacing: -5px;
  line-height: 0.9em;
  text-align: center;
  margin-top: 40px;
}

.banner__link {
  text-align: center;
}

.banner__button {
  padding: 12px 15px;
  margin: auto;
  cursor: pointer;
  color: #ffffff;
  border: 3px solid #ffffff;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 125px;
  -webkit-transition: 250ms linear;
  transition: 250ms linear;
}
.banner__button:hover, .banner__button:focus {
  background-color: #ffffff;
  color: #fce38a;
}/*# sourceMappingURL=main.css.map */