html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

ul {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: currentColor;
}

.section {
  padding: 45px 30px;
  margin: auto;
}

.container {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 110px;
}
.title__main {
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 20px;
}
.title__decorative {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
}
.title::after {
  position: absolute;
  bottom: 0px;
  left: calc(50% - 30px);
  top: calc(100% + 40px);
  content: "";
  width: 60px;
  height: 3px;
  background-color: #f38181;
  -webkit-animation: underline-color-change 250ms;
          animation: underline-color-change 250ms;
}

.header__section {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #ffffff;
  width: 100%;
  padding: 30px 40px;
}

.header__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__link {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1px;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}
.logo__link:hover, .logo__link:focus {
  color: #fce38a;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

.menu__link {
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}
.menu__link:hover, .menu__link:focus {
  color: #fce38a;
  position: relative;
}
.menu__link:hover::after, .menu__link:focus::after {
  position: absolute;
  left: 0;
  top: 25px;
  content: "";
  width: 100%;
  height: 3px;
  background-color: currentColor;
  -webkit-animation: underline-animation 1s;
          animation: underline-animation 1s;
}

@-webkit-keyframes underline-animation {
  from {
    background-color: transparent;
    width: 0;
  }
  to {
    background-color: currentColor;
    width: 100%;
  }
}

@keyframes underline-animation {
  from {
    background-color: transparent;
    width: 0;
  }
  to {
    background-color: currentColor;
    width: 100%;
  }
}
.menu__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.menu__option-link {
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}
.menu__option-link:hover, .menu__option-link:focus {
  color: #fce38a;
  position: relative;
}

.menu__icon-holder {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.banner {
  width: 100%;
  height: 1000px;
  width: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.8235294118)), to(rgba(252, 227, 138, 0.8235294118))), url(../images/banner-background.jpg);
  background-image: linear-gradient(to bottom, rgba(243, 129, 129, 0.8235294118), rgba(252, 227, 138, 0.8235294118)), url(../images/banner-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 235px 40px;
  color: #ffffff;
}

.banner__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 800px;
  margin: auto;
}

.banner__decorative-title {
  font-family: "Kaushan Script", cursive;
  text-transform: capitalize;
  font-size: 72px;
  text-align: center;
}

.banner__title {
  font-size: 150px;
  text-transform: uppercase;
  letter-spacing: -5px;
  line-height: 0.9em;
  text-align: center;
  margin-top: 40px;
}

.banner__link {
  text-align: center;
}

.banner__button {
  padding: 12px 15px;
  margin: auto;
  cursor: pointer;
  color: #ffffff;
  border: 3px solid #ffffff;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 125px;
  -webkit-transition: 250ms linear;
  transition: 250ms linear;
}
.banner__button:hover, .banner__button:focus {
  background-color: #ffffff;
  color: #fce38a;
}

.services__list {
  display: grid;
  grid-template-columns: auto auto auto;
  -webkit-column-gap: 75px;
     -moz-column-gap: 75px;
          column-gap: 75px;
  row-gap: 100px;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.services__icon-holder {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #95e1d3;
  cursor: pointer;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}
.services__icon-holder:hover, .services__icon-holder:focus {
  color: #eaffd0;
}

.services__icon {
  width: 32px;
  height: 32px;
  fill: currentColor;
}

.services__text-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.services__title {
  text-transform: uppercase;
  font-weight: 500;
}

.services__text {
  color: #b6b6b6;
}

.team__text {
  color: #b6b6b6;
  max-width: 950px;
  margin: auto;
  margin-bottom: 90px;
  text-align: center;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__item {
  position: relative;
}
.team__item:hover .team__social-holder {
  opacity: 1;
  -webkit-animation: social-animation 450ms;
          animation: social-animation 450ms;
}

@-webkit-keyframes social-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes social-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.team__photo-holder {
  width: 380px;
  height: 470px;
}

.team__photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__social-holder {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -10px;
  left: -10px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.8235294118)), to(rgba(252, 227, 138, 0.8235294118)));
  background: linear-gradient(to bottom, rgba(243, 129, 129, 0.8235294118), rgba(252, 227, 138, 0.8235294118));
  -webkit-box-shadow: 10px 10px #95e1d3;
          box-shadow: 10px 10px #95e1d3;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__item:not(:last-child) {
  border-right: 1px solid #f38181;
}

.socials__button {
  width: 55px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f38181;
  background-color: #fce38a;
  border: none;
  -webkit-transition: color 250ms linear, background-color 250ms linear;
  transition: color 250ms linear, background-color 250ms linear;
}
.socials__button:hover, .socials__button:focus {
  color: #ffffff;
  background-color: #f38181;
}

.socials__icon {
  width: 30px;
  height: 30px;
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */