html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #333333;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

ul {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: currentColor;
}

.section {
  padding: 45px 30px;
  margin: auto;
}

.container {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 110px;
}
.title__main {
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .title__main {
    font-size: 30px;
  }
}
.title__decorative {
  font-family: "Kaushan Script", cursive;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .title__decorative {
    font-size: 24px;
  }
}
.title::after {
  position: absolute;
  bottom: 0px;
  left: calc(50% - 30px);
  top: calc(100% + 40px);
  content: "";
  width: 60px;
  height: 3px;
  background-color: #f38181;
  -webkit-animation: underline-color-change 250ms;
          animation: underline-color-change 250ms;
}

.header__section {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #ffffff;
  width: 100%;
  padding: 30px 40px;
}

.header__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.header__menu {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-button {
  color: #ffffff;
  background-color: transparent;
  border: none;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
  cursor: pointer;
}
.header__menu-button:hover {
  color: #fce38a;
}

@media screen and (min-width: 768px) {
  .header__menu-button {
    display: none;
  }
}
.header__icon-holder {
  width: 35px;
  min-height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__icon {
  width: 35px;
  height: 35px;
  fill: currentColor;
}

.logo__link {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1px;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}
.logo__link:hover, .logo__link:focus {
  color: #fce38a;
}

.menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    row-gap: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .menu {
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

.menu__link {
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}
.menu__link:hover, .menu__link:focus {
  color: #fce38a;
  position: relative;
}
.menu__link:hover::after, .menu__link:focus::after {
  position: absolute;
  left: 0;
  top: 25px;
  content: "";
  width: 100%;
  height: 3px;
  background-color: currentColor;
  -webkit-animation: underline-animation 1s;
          animation: underline-animation 1s;
}

@-webkit-keyframes underline-animation {
  from {
    background-color: transparent;
    width: 0;
  }
  to {
    background-color: currentColor;
    width: 100%;
  }
}

@keyframes underline-animation {
  from {
    background-color: transparent;
    width: 0;
  }
  to {
    background-color: currentColor;
    width: 100%;
  }
}
.menu__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.menu__option-link {
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}
.menu__option-link:hover, .menu__option-link:focus {
  color: #fce38a;
  position: relative;
}

.menu__icon-holder {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.banner {
  width: 100%;
  width: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.8235294118)), to(rgba(252, 227, 138, 0.8235294118))), url(../images/banner-background.jpg);
  background-image: linear-gradient(to bottom, rgba(243, 129, 129, 0.8235294118), rgba(252, 227, 138, 0.8235294118)), url(../images/banner-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 160px 10px 120px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .banner {
    padding: 160px 20px;
  }
}
@media screen and (min-width: 1280px) {
  .banner {
    padding: 235px 40px;
  }
}
.banner__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 280px;
  width: auto;
  margin: auto;
}

@media screen and (min-width: 480px) {
  .banner__wrapper {
    max-width: 400px;
  }
}
@media screen and (min-width: 768px) {
  .banner__wrapper {
    max-width: 600px;
  }
}
@media screen and (min-width: 1280px) {
  .banner__wrapper {
    max-width: 800px;
  }
}
.banner__decorative-title {
  font-family: "Kaushan Script", cursive;
  text-transform: capitalize;
  font-size: 36px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .banner__decorative-title {
    font-size: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .banner__decorative-title {
    font-size: 72px;
  }
}
.banner__title {
  font-size: 54px;
  text-transform: uppercase;
  letter-spacing: -5px;
  line-height: 0.9em;
  text-align: center;
  margin-top: 40px;
}

@media screen and (min-width: 480px) {
  .banner__title {
    font-size: 72px;
  }
}
@media screen and (min-width: 768px) {
  .banner__title {
    font-size: 96px;
  }
}
@media screen and (min-width: 1280px) {
  .banner__title {
    font-size: 150px;
  }
}
.banner__link {
  text-align: center;
  margin-top: 125px;
}

.banner__button {
  padding: 12px 15px;
  margin: auto;
  cursor: pointer;
  color: #ffffff;
  border: 3px solid #ffffff;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: 250ms linear;
  transition: 250ms linear;
}
.banner__button:hover, .banner__button:focus {
  background-color: #ffffff;
  color: #fce38a;
}

.services__list {
  display: grid;
  margin: auto;
  grid-template-columns: auto;
  row-gap: 30px;
}

@media screen and (min-width: 768px) {
  .services__list {
    grid-template-columns: auto auto;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    row-gap: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .services__list {
    grid-template-columns: auto auto auto;
    -webkit-column-gap: 75px;
       -moz-column-gap: 75px;
            column-gap: 75px;
    row-gap: 100px;
  }
}
.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.services__icon-holder {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #95e1d3;
  cursor: pointer;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}
.services__icon-holder:hover, .services__icon-holder:focus {
  color: #eaffd0;
}

.services__icon {
  width: 32px;
  height: 32px;
  fill: currentColor;
}

.services__text-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.services__title {
  text-transform: uppercase;
  font-weight: 500;
}

.services__text {
  color: #b6b6b6;
}

.team__text {
  color: #b6b6b6;
  max-width: 950px;
  margin: auto;
  margin-bottom: 90px;
  text-align: center;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .team__list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@-webkit-keyframes social-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes social-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.team__wrapper {
  position: relative;
  margin-bottom: 30px;
}
.team__wrapper:hover .team__social-holder {
  opacity: 1;
  -webkit-animation: social-animation 450ms;
          animation: social-animation 450ms;
}

.team__photo-holder {
  width: 100%;
  height: 300px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .team__photo-holder {
    height: 360px;
  }
}
@media screen and (min-width: 1280px) {
  .team__photo-holder {
    height: 470px;
  }
}
.team__photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__social-holder {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -10px;
  left: -10px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.8235294118)), to(rgba(252, 227, 138, 0.8235294118)));
  background: linear-gradient(to bottom, rgba(243, 129, 129, 0.8235294118), rgba(252, 227, 138, 0.8235294118));
  -webkit-box-shadow: 10px 10px #95e1d3;
          box-shadow: 10px 10px #95e1d3;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__name {
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.team__position {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #b6b6b6;
}

.socials {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__item:not(:last-child) {
  border-right: 1px solid #f38181;
}

.socials__button {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f38181;
  background-color: #fce38a;
  border: none;
  -webkit-transition: color 250ms linear, background-color 250ms linear;
  transition: color 250ms linear, background-color 250ms linear;
}
.socials__button:hover, .socials__button:focus {
  color: #ffffff;
  background-color: #f38181;
}

@media screen and (min-width: 1280px) {
  .socials__button {
    width: 55px;
    height: 55px;
  }
}
.socials__icon {
  width: 30px;
  height: 30px;
  fill: currentColor;
}

.footer__section {
  padding: 50px 10px 10px;
}

.footer__container {
  padding-top: 10px;
  width: 100%;
  border-top: 1px solid rgba(182, 182, 182, 0.4078431373);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 15px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.footer__text {
  font-weight: 600;
}

.footer__link {
  color: #f38181;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}
.footer__link:hover {
  color: #fce38a;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 480px) {
  .footer__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.footer__input {
  width: 200px;
  padding: 12px;
  border: 1px solid rgba(182, 182, 182, 0.4078431373);
  outline: none;
}
.footer__input::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  color: rgba(182, 182, 182, 0.4078431373);
}
.footer__input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  color: rgba(182, 182, 182, 0.4078431373);
}
.footer__input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  color: rgba(182, 182, 182, 0.4078431373);
}
.footer__input::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  color: rgba(182, 182, 182, 0.4078431373);
}
.footer__input::placeholder {
  font-family: "Roboto", sans-serif;
  color: rgba(182, 182, 182, 0.4078431373);
}

@media screen and (min-width: 768px) {
  .footer__input {
    width: 280px;
  }
}
.footer__button {
  padding: 15px 15px;
  max-width: 120px;
  margin: auto;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #95e1d3;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
.footer__button:hover, .footer__button:focus {
  background-color: #eaffd0;
}

@media screen and (min-width: 768px) {
  .footer__button {
    padding: 15px 35px;
    max-width: none;
  }
}
.mobile-menu {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 30px 30px;
  display: none;
}

.mobile-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.mobile-menu__link {
  font-size: 32px;
  font-weight: 500px;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #f38181;
}

.mobile-menu__icon-holder {
  width: 45px;
  min-height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-menu__icon {
  width: 45px;
  height: 45px;
  fill: currentColor;
}

.mobile-menu__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.mobile-menu__option-link {
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}
.mobile-menu__option-link:hover, .mobile-menu__option-link:focus {
  color: #f38181;
}

.mobile-menu__close-button {
  background-color: transparent;
  border: none;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}
.mobile-menu__close-button:hover {
  color: #f38181;
}

.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: menu-animation 250ms;
          animation: menu-animation 250ms;
}

@-webkit-keyframes menu-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes menu-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */