@use './../utils' as *;

.banner{
  width: 100%;
  width: auto;
  background-image: linear-gradient(to bottom, getColor("transparent-accent-primary"), getColor("transparent-accent-secondary")),
      url(../images/banner-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 160px 10px 120px;
  color: getColor("alt");
}

@media screen and (min-width: 768px){
  .banner{
    padding: 160px 20px;
  }
}

@media screen and (min-width: 1280px){
  .banner{
    padding: 235px 40px;
  }
}

.banner__wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  max-width: 280px;
  width: auto;
  margin: auto;
}

@media screen and (min-width: 480px){
  .banner__wrapper{
    max-width: 400px;
  }
}

@media screen and (min-width: 768px){
  .banner__wrapper{
    max-width: 600px;
  }
}

@media screen and (min-width: 1280px){
  .banner__wrapper{
    max-width: 800px;
  }
}

.banner__decorative-title{
  font-family: 'Kaushan Script', cursive;
  text-transform: capitalize;
  font-size: 36px;
  text-align: center;
}

@media screen and (min-width: 768px){
  .banner__decorative-title{
    font-size: 48px;
  }
}

@media screen and (min-width: 1280px){
  .banner__decorative-title{
    font-size: 72px;
  }
}

.banner__title{
  font-size: 54px;
  text-transform: uppercase;
  line-height: .9em;
  text-align: center;
  margin-top: 40px;
  letter-spacing: -3px;
}

@media screen and (min-width: 480px){
  .banner__title{
    font-size: 72px;
    letter-spacing: -4px;
  }
}

@media screen and (min-width: 768px){
  .banner__title{
    font-size: 96px;
  }
}

@media screen and (min-width: 1280px){
  .banner__title{
    font-size: 150px;
    letter-spacing: -5px;
  }
}

.banner__link{
  text-align: center;
  margin: auto;
  margin-top: 125px;
  width: max-content;
}

.banner__button{
  padding: 12px 15px;
  margin: auto;
  cursor: pointer;
  color: getColor("alt");
  border: 3px solid getColor("alt");
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  transition: $main-transition;

  &:hover,
  &:focus{
    background-color: getColor("alt");
    color: getColor("accent-secondary");
  }
}
