@use './../utils' as *;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    color: getColor("main-color");
    background-color: getColor("background-main-color");
    font-family: "Open Sans", "Raleway", sans-serif;
    font-size: 14px;
    font-style: normal;
}

ul{
    list-style: none;
}

img{
    display: block;
}

a{
    text-decoration: none;
}

