@use './../utils' as *;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;              
}

body{
    color: getColor("primary");
    background-color: getColor("background-color");
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

ul{
    list-style: none;
}

img{
    display: block;
}

a{
    text-decoration: none;
    color: currentColor;
}

.section {
    padding: $big-padding;
    margin: auto;
}

.container {
    max-width: 1200px;
    display: flex;
    margin: auto;
}




