@use './../utils' as *;

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;              
}

body{
    color: getColor("primary");
    background-color: getColor("background");
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

ul{
    list-style: none;
}

img{
    display: block;
}

a{
    text-decoration: none;
    color: currentColor;
}

.section{
    padding: $main-padding;
    margin: auto;
}

.container{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.title{
    width: max-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: relative;
    margin-bottom: 110px;

    &__main{
        font-size: 20px;
        text-transform: uppercase;
        margin-top: 20px;
    }
    
    @media screen and (min-width: 768px){
        &__main{
            font-size: 30px;
        }
    }

    &__decorative{
        font-family: 'Kaushan Script', cursive;
        font-size: 18px;
    }

    @media screen and (min-width: 768px){
        &__decorative{
            font-size: 24px;
        }
    }

    &::after{
        position: absolute;
        bottom: 0px;
        left: calc(50% - 30px);
        top: calc(100% + 40px);
        content: '';
        width: 60px;
        height: 3px;
        background-color: getColor("accent-primary");
        animation: underline-color-change 250ms;
    }
}




