@use './../utils' as *;

.footer__section{
  padding: 50px 10px 10px;
}

.footer__container{
  padding-top: 10px;
  width: 100%;
  border-top: 1px solid getColor("transparent-primary");
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  row-gap: 15px;
}

@media screen and (min-width: 768px){
  .footer__container{
    flex-direction: row;
  }
}

.footer__text{
  font-weight: 600;
}

.footer__link{
  color: getColor("accent-primary");
  transition: color $main-transition;

  &:hover{
    color: getColor("accent-secondary");
  }
}

.footer__form{
  display: flex;
  row-gap: 10px;
  flex-direction: column;
}

@media screen and (min-width: 480px){
  .footer__form{
    flex-direction: row;
   
  }
}

.footer__input{
  width: 200px;
  padding: 12px;
  border: 1px solid getColor("transparent-primary");
  outline: none;

  &::placeholder{
    font-family: 'Roboto', sans-serif;
    color: getColor("transparent-primary");
  }
}

@media screen and (min-width: 768px){
  .footer__input{
    width: 280px;
  }
}

.footer__button{
  padding: 15px 15px;
  max-width: 120px;
  margin: auto;
  border: none;
  color: getColor("alt");
  text-transform: uppercase;
  cursor: pointer;
  background-color: getColor("accent-alt-primary");
  transition: background-color $main-transition;

  &:hover,
  &:focus{
    background-color: getColor("accent-alt-secondary");  
  }
}

@media screen and (min-width: 768px){
  .footer__button{
    padding: 15px 35px;
    max-width: none;
  }
}

