@use './../utils' as *;

.menu{
  display: flex;
  gap: 50px;
}

.menu__list{
  display: flex;
  gap: 60px;  
}

.menu__link{
  text-transform: uppercase;
  transition: color $main-transition;
 
  &:hover,
  &:focus{
    color: getColor("accent-secondary");
  }
}

.menu__options{
  display: flex;
  gap: 40px;
}

.menu__icon-holder{
  width: 20px;
  height: 20px;
  display: flex;
}

.menu__icon{
  width: 20px;
  height: 20px;
  fill: currentColor;
}

