@use './../utils' as *;

.menu{
  display: flex;
  gap: 50px;
}

.menu__list{
  display: flex;
  gap: 60px;  
}

.menu__link{
  text-transform: uppercase;
  font-weight: 500;
  transition: color $main-transition;
 
  &:hover,
  &:focus{
    color: getColor("accent-secondary");
    position: relative;

    &::after {
        position: absolute;
        left: 0;
        top: 25px;
        content: '';
        width: 100%;
        height: 3px;
        background-color: currentColor;
        animation: underline-animation 1s;
      }
  }
}

@keyframes underline-animation {
  from {
    background-color: transparent;
    width: 0;
  }

  to {
    background-color: currentColor;
    width: 100%;
  }
}

.menu__options{
  display: flex;
  gap: 40px;
}

.menu__option-link {
  transition: color $main-transition;

  &:hover,
  &:focus {
    color: getColor("accent-secondary");
    position: relative;
  }
}

.menu__icon-holder{
  width: 20px;
  height: 20px;
  display: flex;
}

.menu__icon{
  width: 20px;
  height: 20px;
  fill: currentColor;
}
