$colors:(
    "primary": #333333,
    "secondary": #b6b6b6,
    "alt": #ffffff,
    "accent-primary": #f38181,
    "accent-secondary": #fce38a,
    "accent-alt-primary": #95e1d3,
    "accent-alt-secondary": #eaffd0,
    "background": #ffffff,
    "transparent-primary": #b6b6b668,
    "transparent-accent-primary": #f38181d2,
    "transparent-accent-secondary": #fce38ad2,
   
);

@function getColor($key){
    @return map-get($colors, $key);
}
    